.app__header {
  background-color: var(--color-cinzento);
}
.app__header-h1 {
  font-family: var(--font-base);
  color: var(--color-red);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 117px;
  font-size: 80px;
}

.app__header-img img {
  width: 80%;
}

@media screen and (max-width: 680px) {
  .app__header-h1 {
    
    letter-spacing: 0rem;
    text-transform: uppercase;
    line-height: 110px;
    font-size: 78px;
}
}